body {
    background-image: url(/Users/user/Downloads/cointreau-gab4419557_1920.jpg);
    opacity: 100;
 }
 
button {
    font-size: 7px;
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
 }
  
 h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
 }
  
  
 li{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-weight: 700;
  text-align: left;
    top: -500px;
 }
 
#Margarita{
    color: yellow;
 }
  
 li[id ='Blue Margarita']{
    color: blue;
 }
  
 li[id ='Tommy/s Margarita']{
    color: black
 }
  
 li[id ='Whitecap Margarita']{
    color:white
 }
  
 li[id ='Strawberry Margarita']{
    color:red
 }
  
 li[id ='Smashed Watermelon Margarita']{
    color:green
 }
 
  
 ul {
    list-style: none;
    text-align: center;
 }
  
 img {
    display:block;
   margin-left: 600px;
   margin-right: 100px;
   margin-top: 0px;
   margin-bottom: 100px;
    width:20%;
    height: 20%;
 }
  
 