button {
    font-size: 7px;
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
 }
  
 h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
 }
  
  
 li{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-weight: 700;
  text-align: left;
    top: -500px;
 }
 
  
 ul {
    list-style: none;
    text-align: center;
 }
  
 img {
    display:block;
   margin-left: 600px;
   margin-right: 100px;
   margin-top: 0px;
   margin-bottom: 100px;
    width:20%;
    height: 20%;
 }
  
 